lnnwrkswbstr/Service References/CacheServiceClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CacheService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Linnworks.Service.Cache" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICacheService_PostData_InputMessage">
    <wsdl:part name="parameters" element="tns:PostData" />
  </wsdl:message>
  <wsdl:message name="ICacheService_PostData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_GetIps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIps" />
  </wsdl:message>
  <wsdl:message name="ICacheService_GetIps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIpsResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_UpdateIps_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIps" />
  </wsdl:message>
  <wsdl:message name="ICacheService_UpdateIps_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIpsResponse" />
  </wsdl:message>
  <wsdl:message name="ICacheService_CheckForBlockedIp_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForBlockedIp" />
  </wsdl:message>
  <wsdl:message name="ICacheService_CheckForBlockedIp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForBlockedIpResponse" />
  </wsdl:message>
  <wsdl:portType name="ICacheService">
    <wsdl:operation name="PostData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/PostData" message="tns:ICacheService_PostData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/PostDataResponse" message="tns:ICacheService_PostData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIps">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/GetIps" message="tns:ICacheService_GetIps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/GetIpsResponse" message="tns:ICacheService_GetIps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIps">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/UpdateIps" message="tns:ICacheService_UpdateIps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/UpdateIpsResponse" message="tns:ICacheService_UpdateIps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckForBlockedIp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICacheService/CheckForBlockedIp" message="tns:ICacheService_CheckForBlockedIp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICacheService/CheckForBlockedIpResponse" message="tns:ICacheService_CheckForBlockedIp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICacheService" type="tns:ICacheService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostData">
      <soap:operation soapAction="http://tempuri.org/ICacheService/PostData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIps">
      <soap:operation soapAction="http://tempuri.org/ICacheService/GetIps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIps">
      <soap:operation soapAction="http://tempuri.org/ICacheService/UpdateIps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckForBlockedIp">
      <soap:operation soapAction="http://tempuri.org/ICacheService/CheckForBlockedIp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CacheService">
    <wsdl:port name="BasicHttpBinding_ICacheService" binding="tns:BasicHttpBinding_ICacheService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Linnworks.Service.Cache/CacheService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>